html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

.pointer{
    color: white;
    mix-blend-mode: difference;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.instructions {
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: bold;
  color: white;
  mix-blend-mode: difference;
}

.texture-selector{
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 13px;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s;
}

.texture {
  position: relative;
}

.texture-selector img{
    width: 50px;
    padding: 3px;
    background: black;
    border-radius: 10px;
    border: solid 5px white;
    outline: solid 3px black;
    image-rendering: pixelated;
}

.texture-selector span {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: black;
  padding: 0 5px;
  border-radius: 5px;

}

.texture-selector img.selected{
   border-color: yellow;
}
